{% extends 'index.html' %}

{% block load_data %}
{% endblock %}

{% block search_bar %}

<body>
    <br /><br />
    <div class="container" style="width:900px;">
        <h2 class="center">Company Search</h2>
        <h3 class="center">Server-Side is SUPER FAST</h3>
        <br /><br />
        <div class="center">
            <input type="text" name="search" id="searchbar" placeholder="Search Company Details" class="form-control" />
        </div>
        <ul class="list-group" id="results"></ul>
        <br />
    </div>
</body>
{% endblock %}

{% block load_js_files %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
    integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

<script>
$(function() {
    $('#searchbar').keydown(function(e){
        if ($('#searchbar').val()!=='') {
            $.ajax({
                url: '/search',
                data: {
                    substring : $('#searchbar').val()
                },
                type: 'POST',
                success: function(response) {
                    var resultDiv = $('#results')
                    resultDiv.empty()
                    response.forEach(result => resultDiv.append("<li>"+result+"</li>")
                    )
                },
                error: function(response){
                    console.log('Bad Response')
                }
            })
        }   
        else {
            console.log($('#searchbar').val())
            var resultDiv = $('#results')
            resultDiv.empty()
        }    
    })
})
</script>
{% endblock %}

</html>